fastapi
uvicorn[standard]

SQLAlchemy==2.0.*
asyncpg
psycopg[binary]
alembic

pydantic
pydantic-settings

argon2-cffi
PyJWT
python-dotenv

pytest
pytest-asyncio
httpx

# Supabase Storage
supabase
python-multipart
aiofiles
Pillow